<div class="header">
    <div class="container-header">
        <div class="logotype">
            <img src="../../assets/images/logotype.png" alt="Pocket Fitness Club logotipo">
        </div>
        <div class="hamburguer-menu">
            <img src="../../assets/images/hamburguer.png" alt="menu hamburguer">
        </div>
        <div class="perfil">
            <div class="avatar-icon">
                <img src="../../assets/images/avatar-icon.png" alt="avatar do usuário">
            </div>
            <div class="dropdown">
                <div class="user-email">
                    <span>admin@pocket</span>
                </div>
                <div class="dropdown-arrow">
                    <img src="../../assets/images/arrow-down.png" alt="seta apontando para baixo">
                </div>
                <div class="dropdown-content">
                    <div class="arrow-container"></div>
                    <img class="arrow-up" src="../../assets/images/arrow-up.png" alt="seta apontando para cima">
                    <div class="dropdown-container">
                        <div class="settings">
                            <img src="../../assets/images/gear.png" alt="engrenagem">
                            <span style="color: black;">Configurações</span>
                        </div>
                        <hr>
                        <div class="logout">
                            <img src="../../assets/images/exit.png" alt="porta com seta apontando para direita">
                            <span style="color: black;">Sair</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
