<div class="menu-container">
    <nav>
        <ul style="list-style-type: none;">
            <li><span><img src="../../assets/images/dashboard-icon.png" alt="ícone dashboard"><a href="">Dashboard</a></span></li>
            <li><span><img src="../../assets/images/info-club-icon.png" alt="ícone informações do clube"><a href="">Informações do Clube</a></span></li>
            <li><span><img src="../../assets/images/professores-icon.png" alt="ícone professores"><a href="">Professores</a></span></li>
            <li><span><img src="../../assets/images/modalidades-icon.png" alt="ícone modalidades"><a href="">Modalidades</a></span></li>
            <li><span><img src="../../assets/images/calendario-icon.png" alt="ícone calendário de turmas"><a href="">Calendário de Turmas</a></span></li>
            <li><span><img src="../../assets/images/recebimentos-icon.png" alt=""><a href="">Recebimentos</a></span></li>
            <li><span><img src="../../assets//images/alunos-icon.png" alt="ícone recebimentos"><a href="">Alunos</a></span></li>
            <li><span><img src="../../assets/images/financeiros-icon.png" alt="ícone financeiros"><a href="">Financeiro</a></span></li>
            <li><span><img src="../../assets/images/pagamentos-icon.png" alt="ícone pagamentos"><a href="">Pagamentos</a></span></li>
        </ul>
    </nav>
</div>